/* 列表页专有的样式 */
.nav {
  overflow: hidden;
  /* 溢出隐藏 */
}
.sk {
  position: absolute;
  top: 40px;
  left: 190px;
  padding: 3px 0 0 14px;
  border-left: 1px solid #c81523;
}
.sk_list {
  float: left;
}
.sk_list ul li {
  float: left;
}
.sk_list ul li a {
  display: block;
  line-height: 47px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.sk_list ul li a:hover {
  color: #c81523;
}
.sk_con {
  float: left;
}
.sk_con ul li {
  float: left;
}
.sk_con ul li a {
  position: relative;
  display: block;
  line-height: 49px;
  padding: 0 20px;
  font-size: 14px;
}
/* .........................................................................................................................................最后一个li里面的a */
.sk_con ul li:last-child a::after {
  position: absolute;
  top: 2px;
  right: 1px;
  content: "\ee91";
  font-family: "icomoon";
  font-size: 18px;
}
.sk_hd {
  position: relative;
}
.sk_hd i {
  position: absolute;
  top: -3px;
  right: 570px;
  font-family: "icomoon";
  font-size: 60px;
  color: #b1191a;
}
.sk_bd {
  margin-top: 13px;
}
.sk_bd ul li {
  float: left;
  margin: 0 13px 13px 0;
  width: 290px;
  height: 460px;
  background-color: white;
  border: 1px solid white;
}
.sk_bd ul li:nth-child(4n) {
  margin: 0 0 13px 0;
}
.sk_bd ul li:hover {
  border: 1px solid #c81523;
}
.sk_bd ul li img {
  width: 100%;
  height: 290px;
  margin-bottom: 5px;
}
.sk_bd ul li {
  text-align: center;
}
.sk_bd ul li p {
  margin: 0 15px 5px 15px;
  font-size: 12px;
}
.price {
  position: relative;
  left: -2px;
  width: 100px;
  height: 20px;
  border: 1px solid #c81523;
  margin: 27px auto;
  /* font-weight: 700; */
  /* line-height: 20px; */
  text-align: center;
}
.miaosha {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 50px;
  height: 20px;
  background-color: #c81523;
  text-align: center;
  color: white;
  /* margin-right: 8px; */
}
.price .yuanjia {
  float: right;
  margin-right: 5px;
  line-height: 18px;
  text-decoration: line-through;
  color: darkgrey;
  /* font-size: 12px; */
}
.win a {
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: #c81523;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
