/* 修改 container 的最大宽度为 1280px  根据设计稿来走的*/
/* 即,宽度在1280px以上时,宽度为1280px不再增加 */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
body {
  background-color: #f5f5f5;
}
.container {
  background-color: #fff;
}
/* header */
header {
  padding-left: 0 !important;
}
.logo {
  background-color: #429ad9;
}
.logo img {
  /* width: 100%; */
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* 1 . 如果我们进入超小屏幕,就隐藏AilXiu的logo图片,用文字替代 */
/* <img src="images/logo.png" alt="" class="hidden-xs" /> */

/* 2 . 在logo里面事先准备好一个盒子,在平时是隐藏的,在超小屏幕下才会显示出来 */
/* <span class="visible-xs">阿里百秀</span> */
.logo span {
  display: block;
  /* width: 100%; */
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.nav {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
.nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  font-size: 16px;
}
.nav a:hover {
  background-color: #fff;
  color: #333;
}
.nav a::before {
  vertical-align: middle;
  padding-right: 5px;
}

/* 当我们进入 小屏,超小屏 时,nav里面的li浮动起来,且宽度为20% */

@media screen and (max-width: 991px) {
  .nav li {
    float: left;
    width: 20%;
  }
  article {
    margin-top: 10px;
  }
  .hot {
    margin-bottom: 20px;
  }
  article {
    margin-bottom: 20px;
  }
}

/* 当我们进入超小屏时,nav里面的文字定为14px*/

@media screen and (max-width: 767px) {
  .nav li a {
    font-size: 14px;
    padding-left: 5px;
  }
  /* 当我们处于超小屏时,第一个li宽度为100%,其余的li宽度为50% */
  .news li:nth-child(1) {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .news li {
    width: 50% !important ;
  }
  .publish h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .hot {
    margin-bottom: 20px;
  }
  article {
    margin-bottom: 20px;
  }
}

.news ul li {
  float: left;
  width: 25%;
  height: 128px;
  padding-right: 10px;
}
.news ul li > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.news ul li:nth-child(1) {
  width: 50%;
  height: 266px;
}
/* //////////////////////////////////////////////////////////// */
.carousel,
.carousel img {
  height: 266px !important ;
  width: 100%;
}
/* ///////////////////////////////////////////////////////////// */
/* 当我们处于超小屏时,第一个li宽度为100%,其余的li宽度为50% */

.news li:nth-child(1) p {
  line-height: 41px;
  font-size: 20px;
  padding: 0 10px;
}
.news ul li a img {
  width: 100%;
  height: 100%;
}
.carousel-caption  {
  line-height: 41px;
  font-size: 16px !important ;
  padding: 0 !important ;
}
.news ul li a p,
.carousel-caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 41px;
  padding: 3px 10px;
  margin-bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  font-size: 12px;
  color: #fff;
}
.news li:nth-child(n + 2) {
  margin-bottom: 10px;
}
/* .publish {
  border-top: 1px solid #ccc;
} */
.publish .row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.publish .row:nth-child(n + 2) {
  border-top: 0;
}
.pic {
  margin-top: 3px;
}
.pic img {
  width: 100%;
  height: 100%;
}
.banner img {
  width: 100%;
}
.hot {
  display: block;
  margin-top: 20px;
  padding: 0 10px;
  border: 1px solid #ccc;
}
.hot span {
  border-radius: 0;
  margin-bottom: 10px;
}
.hot p {
  font-size: 12px;
}
